WCFSOAPClient/WCFSOAPClient/Service References/ServiceReference1/DistributorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DistributorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57209/DistributorService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57209/DistributorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57209/DistributorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFSOAPService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDistributorService_GetAllDistributors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDistributors" />
  </wsdl:message>
  <wsdl:message name="IDistributorService_GetAllDistributors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDistributorsResponse" />
  </wsdl:message>
  <wsdl:message name="IDistributorService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IDistributorService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IDistributorService_Edit_InputMessage">
    <wsdl:part name="parameters" element="tns:Edit" />
  </wsdl:message>
  <wsdl:message name="IDistributorService_Edit_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditResponse" />
  </wsdl:message>
  <wsdl:portType name="IDistributorService">
    <wsdl:operation name="GetAllDistributors">
      <wsdl:input wsaw:Action="http://tempuri.org/IDistributorService/GetAllDistributors" message="tns:IDistributorService_GetAllDistributors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDistributorService/GetAllDistributorsResponse" message="tns:IDistributorService_GetAllDistributors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IDistributorService/Add" message="tns:IDistributorService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDistributorService/AddResponse" message="tns:IDistributorService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <wsdl:input wsaw:Action="http://tempuri.org/IDistributorService/Edit" message="tns:IDistributorService_Edit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDistributorService/EditResponse" message="tns:IDistributorService_Edit_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDistributorService" type="tns:IDistributorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllDistributors">
      <soap:operation soapAction="http://tempuri.org/IDistributorService/GetAllDistributors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IDistributorService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <soap:operation soapAction="http://tempuri.org/IDistributorService/Edit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DistributorService">
    <wsdl:port name="BasicHttpBinding_IDistributorService" binding="tns:BasicHttpBinding_IDistributorService">
      <soap:address location="http://localhost:57209/DistributorService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>